Denormalize.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>a59e4c31-0181-1000-7ecc-ba87b9bd1550</groupId>
    <name>Denormalize</name>
    <snippet>
        <processGroups>
            <id>4f5faf61-8f54-3a68-0000-000000000000</id>
            <parentGroupId>dd63044d-ba42-3abd-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>38ede2b7-3159-355c-0000-000000000000</id>
                    <parentGroupId>4f5faf61-8f54-3a68-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>736.0</x>
                        <y>1312.0</y>
                    </bends>
                    <destination>
                        <groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
                        <id>55ba1fb9-7499-3adb-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
                        <id>4cf9fee7-1390-3e74-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>efb9fec0-bcb9-3a72-0000-000000000000</id>
                    <parentGroupId>4f5faf61-8f54-3a68-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4f5faf61-8f54-3a68-0000-000000000000</groupId>
                        <id>429dddb5-6f5f-3111-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
                        <id>4aaded67-c222-3cef-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f5e3104c-daba-3c37-0000-000000000000</id>
                    <parentGroupId>4f5faf61-8f54-3a68-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>736.0</x>
                        <y>1104.0</y>
                    </bends>
                    <destination>
                        <groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
                        <id>9ec444fe-79dc-3e9b-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>4f5faf61-8f54-3a68-0000-000000000000</groupId>
                        <id>3320e0e0-68ac-3520-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>7c9f4d01-9314-3457-0000-000000000000</id>
                    <parentGroupId>4f5faf61-8f54-3a68-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-distributed-cache-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Server Hostname</key>
                            <value>
<name>Server Hostname</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Server Port</key>
                            <value>
<name>Server Port</name>
                            </value>
                        </entry>
                        <entry>
                            <key>SSL Context Service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
<name>SSL Context Service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Communications Timeout</key>
                            <value>
<name>Communications Timeout</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DistributedMapCacheClientService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Server Hostname</key>
                            <value>localhost</value>
                        </entry>
                        <entry>
                            <key>Server Port</key>
                            <value>4557</value>
                        </entry>
                        <entry>
                            <key>SSL Context Service</key>
                        </entry>
                        <entry>
                            <key>Communications Timeout</key>
                            <value>30 secs</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
                </controllerServices>
                <funnels>
                    <id>429dddb5-6f5f-3111-0000-000000000000</id>
                    <parentGroupId>4f5faf61-8f54-3a68-0000-000000000000</parentGroupId>
                    <position>
                        <x>352.0</x>
                        <y>1600.0</y>
                    </position>
                </funnels>
                <labels>
                    <id>2c40feaa-1cf2-399a-0000-000000000000</id>
                    <parentGroupId>4f5faf61-8f54-3a68-0000-000000000000</parentGroupId>
                    <position>
                        <x>-56.0</x>
                        <y>752.0</y>
                    </position>
                    <height>144.0</height>
                    <label>This flow demonstrates denormalization. The source data has multiple values for the same column.
The flow will denormalize the data, adding redundant data to the record. 
The flow implements two denormalization types:
 
- Concatenation
- Add new fields</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>18px</value>
                        </entry>
                    </style>
                    <width>840.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>3aa9dad3-42ba-3e44-0000-000000000000</id>
                    <parentGroupId>4f5faf61-8f54-3a68-0000-000000000000</parentGroupId>
                    <position>
                        <x>-240.0</x>
                        <y>1504.0</y>
                    </position>
                    <height>128.0</height>
                    <label>Denormalized Output File - Concatenate Fields
 

name,month
brian,"jan,feb,mar"
vincent,"apr,may,jun"
</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>18px</value>
                        </entry>
                    </style>
                    <width>400.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>6e4444e1-c843-386b-0000-000000000000</id>
                    <parentGroupId>4f5faf61-8f54-3a68-0000-000000000000</parentGroupId>
                    <position>
                        <x>608.0</x>
                        <y>1192.0</y>
                    </position>
                    <height>32.0</height>
                    <label>This denormalization process creates duplicates that we need to handle</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>18px</value>
                        </entry>
                    </style>
                    <width>616.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>7e8a0b00-922c-3c4d-0000-000000000000</id>
                    <parentGroupId>4f5faf61-8f54-3a68-0000-000000000000</parentGroupId>
                    <position>
                        <x>624.0</x>
                        <y>1408.0</y>
                    </position>
                    <height>32.0</height>
                    <label>For Demos, restart the caching service</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>18px</value>
                        </entry>
                    </style>
                    <width>344.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>8bb16c2f-ee3b-3a04-0000-000000000000</id>
                    <parentGroupId>4f5faf61-8f54-3a68-0000-000000000000</parentGroupId>
                    <position>
                        <x>-208.0</x>
                        <y>968.0</y>
                    </position>
                    <height>216.0</height>
                    <label>Normailized Input File:
 

name,month
brian,jan
vincent,apr
brian,feb
vincent,may
brian,mar
vincent,jun</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>18px</value>
                        </entry>
                    </style>
                    <width>368.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>dbeedaf9-e688-3c89-0000-000000000000</id>
                    <parentGroupId>4f5faf61-8f54-3a68-0000-000000000000</parentGroupId>
                    <position>
                        <x>608.0</x>
                        <y>1504.0</y>
                    </position>
                    <height>128.0</height>
                    <label>Denormalized Output File - New Fields
 

name,month,month1,month2
brian,jan,feb,mar
vincent,apr,may,jun
</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>18px</value>
                        </entry>
                    </style>
                    <width>400.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <processGroups>
                    <id>406c78d9-7c8d-3719-0000-000000000000</id>
                    <parentGroupId>4f5faf61-8f54-3a68-0000-000000000000</parentGroupId>
                    <position>
                        <x>184.0</x>
                        <y>1120.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>077ca210-00df-33fe-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>4ae28828-351e-37bd-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>5424c42a-e89e-3d64-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>0cafe5bb-55a1-3cea-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>b759f3bb-cd45-30d5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>5424c42a-e89e-3d64-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>239d7526-3031-3f3d-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>680.0</x>
<y>672.0</y>
                            </bends>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>c6960aef-d161-3a53-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>114f0bd2-b01a-3185-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>25451976-6bd4-36c9-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>4cf9fee7-1390-3e74-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>436db439-d9aa-3d96-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2ed5a741-34a1-3985-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>4ae28828-351e-37bd-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>c6960aef-d161-3a53-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>31074154-d4f8-34e8-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>4ae28828-351e-37bd-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>cbc266aa-f124-3207-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>472539b5-45ad-3241-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>4ae28828-351e-37bd-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>114f0bd2-b01a-3185-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4fc095a0-aa1b-3f3b-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>436db439-d9aa-3d96-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>ed2b9ac8-d6ca-3415-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>90b17f77-ca8b-3581-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>114f0bd2-b01a-3185-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>9ec444fe-79dc-3e9b-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a38f8198-5f07-38fe-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>680.0</x>
<y>984.0</y>
                            </bends>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>5424c42a-e89e-3d64-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>cbc266aa-f124-3207-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a725c514-42d6-3b3c-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>b2b09466-0f2b-3641-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>original</selectedRelationships>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>114f0bd2-b01a-3185-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c627ed2f-0060-3f9d-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>4cf9fee7-1390-3e74-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>b759f3bb-cd45-30d5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c9b5851e-f4c5-35a7-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>680.0</x>
<y>832.0</y>
                            </bends>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>cbc266aa-f124-3207-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>c6960aef-d161-3a53-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e836fba7-72b4-3895-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>ed2b9ac8-d6ca-3415-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>5424c42a-e89e-3d64-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>efbc9759-6bd3-360c-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>688.0</x>
<y>1112.0</y>
                            </bends>
                            <destination>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>4709ba17-22d4-3f08-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>406c78d9-7c8d-3719-0000-000000000000</groupId>
<id>ed2b9ac8-d6ca-3415-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>09d1b5b9-ef58-36be-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <dependencies>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>Schema Write Strategy</propertyName>
        </dependencies>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>CSV Format</key>
    <value>
        <name>CSV Format</name>
    </value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Value Separator</name>
    </value>
</entry>
<entry>
    <key>Include Header Line</key>
    <value>
        <name>Include Header Line</name>
    </value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Quote Character</name>
    </value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Escape Character</name>
    </value>
</entry>
<entry>
    <key>Comment Marker</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Comment Marker</name>
    </value>
</entry>
<entry>
    <key>Null String</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Null String</name>
    </value>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Trim Fields</name>
    </value>
</entry>
<entry>
    <key>Quote Mode</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Quote Mode</name>
    </value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Record Separator</name>
    </value>
</entry>
<entry>
    <key>Include Trailing Delimiter</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Include Trailing Delimiter</name>
    </value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>
        <name>csvutils-character-set</name>
    </value>
</entry>
                            </descriptors>
                            <name>CSVRecordSetWriter from ScriptTransformer</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>inherit-record-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>CSV Format</key>
    <value>custom</value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>,</value>
</entry>
<entry>
    <key>Include Header Line</key>
    <value>true</value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>"</value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>\</value>
</entry>
<entry>
    <key>Comment Marker</key>
</entry>
<entry>
    <key>Null String</key>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>true</value>
</entry>
<entry>
    <key>Quote Mode</key>
    <value>MINIMAL</value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>\n</value>
</entry>
<entry>
    <key>Include Trailing Delimiter</key>
    <value>false</value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>UTF-8</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>9ca975bb-48e6-372e-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <dependencies>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>Schema Write Strategy</propertyName>
        </dependencies>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>CSV Format</key>
    <value>
        <name>CSV Format</name>
    </value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Value Separator</name>
    </value>
</entry>
<entry>
    <key>Include Header Line</key>
    <value>
        <name>Include Header Line</name>
    </value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Quote Character</name>
    </value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Escape Character</name>
    </value>
</entry>
<entry>
    <key>Comment Marker</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Comment Marker</name>
    </value>
</entry>
<entry>
    <key>Null String</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Null String</name>
    </value>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Trim Fields</name>
    </value>
</entry>
<entry>
    <key>Quote Mode</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Quote Mode</name>
    </value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Record Separator</name>
    </value>
</entry>
<entry>
    <key>Include Trailing Delimiter</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Include Trailing Delimiter</name>
    </value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>
        <name>csvutils-character-set</name>
    </value>
</entry>
                            </descriptors>
                            <name>CSVRecordSetWriter - Partition</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>schema-text-property</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>{
"type": "record",
"name": "normalizer",
"fields": [
   { "name": "name", "type": "string" },
   { "name": "month", "type": "string" }
  ]
}</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>CSV Format</key>
    <value>custom</value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>,</value>
</entry>
<entry>
    <key>Include Header Line</key>
    <value>true</value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>"</value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>\</value>
</entry>
<entry>
    <key>Comment Marker</key>
</entry>
<entry>
    <key>Null String</key>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>true</value>
</entry>
<entry>
    <key>Quote Mode</key>
    <value>MINIMAL</value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>\n</value>
</entry>
<entry>
    <key>Include Trailing Delimiter</key>
    <value>false</value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>UTF-8</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>c7eafb36-ecca-39da-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>csv-reader-csv-parser</key>
    <value>
        <name>csv-reader-csv-parser</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>CSV Format</key>
    <value>
        <name>CSV Format</name>
    </value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Value Separator</name>
    </value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Record Separator</name>
    </value>
</entry>
<entry>
    <key>Skip Header Line</key>
    <value>
        <name>Skip Header Line</name>
    </value>
</entry>
<entry>
    <key>ignore-csv-header</key>
    <value>
        <name>ignore-csv-header</name>
    </value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Quote Character</name>
    </value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Escape Character</name>
    </value>
</entry>
<entry>
    <key>Comment Marker</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Comment Marker</name>
    </value>
</entry>
<entry>
    <key>Null String</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Null String</name>
    </value>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Trim Fields</name>
    </value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>
        <name>csvutils-character-set</name>
    </value>
</entry>
<entry>
    <key>csvutils-allow-duplicate-header-names</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>csvutils-allow-duplicate-header-names</name>
    </value>
</entry>
                            </descriptors>
                            <name>CSVReader - Partition</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>infer-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>csv-reader-csv-parser</key>
    <value>commons-csv</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>CSV Format</key>
    <value>custom</value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>,</value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>\n</value>
</entry>
<entry>
    <key>Skip Header Line</key>
    <value>true</value>
</entry>
<entry>
    <key>ignore-csv-header</key>
    <value>false</value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>"</value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>\</value>
</entry>
<entry>
    <key>Comment Marker</key>
</entry>
<entry>
    <key>Null String</key>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>true</value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>UTF-8</value>
</entry>
<entry>
    <key>csvutils-allow-duplicate-header-names</key>
    <value>true</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.csv.CSVReader</type>
                        </controllerServices>
                        <funnels>
                            <id>4709ba17-22d4-3f08-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>664.0</x>
<y>1152.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>4ae28828-351e-37bd-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>-416.0</x>
<y>744.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>b2b09466-0f2b-3641-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>-168.0</x>
<y>576.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>9ec444fe-79dc-3e9b-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>232.0</x>
<y>448.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Denormalize Record Conent</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <labels>
                            <id>32e3b49e-a041-3bdd-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>-432.0</x>
<y>1016.0</y>
                            </position>
                            <height>80.0</height>
                            <label>Concatenate new attributes as the value for the month column
 
/month = ${allMatchingAttributes("denormalized.month.[a-z]*"):join(",")}</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>18px</value>
</entry>
                            </style>
                            <width>592.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <labels>
                            <id>790d7005-c29f-3dc8-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>1256.0</x>
<y>952.0</y>
                            </position>
                            <height>288.0</height>
                            <label>Rename month column and add any new columns
 
	String monthList = record.getAsString("month");
	String[] monthListArray = monthList.split(",")
 
	record.setValue("month", monthListArray[0])
 
	for(int i = 1; i &lt; monthListArray.length; i++) {
    	record.setValue(new RecordField("month" + i, RecordFieldType.STRING.getDataType()), monthListArray[i])
	}
 
Note: The recordwriter does not take a schema. This allows for full dynamic addition of columns</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>18px</value>
</entry>
                            </style>
                            <width>912.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <labels>
                            <id>85443189-0947-3a5e-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>1040.0</x>
<y>624.0</y>
                            </position>
                            <height>152.0</height>
                            <label>Partitioned Output:
 

name,month
vincent,apr
vincent,may
vincent,jun</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>18px</value>
</entry>
                            </style>
                            <width>184.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <labels>
                            <id>86cf0a9a-daaf-3063-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>832.0</x>
<y>384.0</y>
                            </position>
                            <height>216.0</height>
                            <label>Normailized Input File:
 

name,month
brian,jan
vincent,apr
brian,feb
vincent,may
brian,mar
vincent,jun</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>18px</value>
</entry>
                            </style>
                            <width>384.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <labels>
                            <id>bb0ab773-da66-315d-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>832.0</x>
<y>800.0</y>
                            </position>
                            <height>184.0</height>
                            <label>Create Attributes for Values to be Denormalized
 
denormalized.month.jan = jan
denormalized.month.feb = feb
denormalized.month.mar = mar
denormalized.month.apr = apr
denormalized.month.may = may
denormalized.month.jun = jun</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>18px</value>
</entry>
                            </style>
                            <width>408.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <labels>
                            <id>c74423c0-7951-3984-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>1256.0</x>
<y>1256.0</y>
                            </position>
                            <height>176.0</height>
                            <label>Denormalized Output - New Fields
 

name,month,month1,month2
brian,jan,feb,mar
vincent,apr,may,jun
 
However, this produces duplicates that we need to handle</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>18px</value>
</entry>
                            </style>
                            <width>912.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <labels>
                            <id>ebe8f034-64ab-31e5-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>-432.0</x>
<y>1128.0</y>
                            </position>
                            <height>184.0</height>
                            <label>Denormalized Output File - Concatenate Fields
 

name,month
brian,"jan,feb,mar"
vincent,"apr,may,jun"
 
However, this produces duplicate records that we need to handle</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>18px</value>
</entry>
                            </style>
                            <width>592.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <labels>
                            <id>f644eb4e-10c9-32c7-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>832.0</x>
<y>624.0</y>
                            </position>
                            <height>152.0</height>
                            <label>Partitioned Output:
 

name,month
brian,jan
brian,feb
brian,mar
</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>18px</value>
</entry>
                            </style>
                            <width>184.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <outputPorts>
                            <id>4cf9fee7-1390-3e74-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>576.0</x>
<y>1400.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Record Content Denormalized</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>114f0bd2-b01a-3185-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>176.0</x>
<y>536.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>user.name</key>
        <value>
            <name>user.name</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>c7eafb36-ecca-39da-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>9ca975bb-48e6-372e-0000-000000000000</value>
    </entry>
    <entry>
        <key>user.name</key>
        <value>/name</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Partition Record - Group By Name</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PartitionRecord</type>
                        </processors>
                        <processors>
                            <id>436db439-d9aa-3d96-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>848.0</x>
<y>1192.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>concatenated</key>
        <value>
            <name>concatenated</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>concatenated</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set Attribute - Concatenated False</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>5424c42a-e89e-3d64-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>176.0</x>
<y>992.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>replacement-value-strategy</key>
        <value>
            <name>replacement-value-strategy</name>
        </value>
    </entry>
    <entry>
        <key>/month</key>
        <value>
            <name>/month</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>c7eafb36-ecca-39da-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>9ca975bb-48e6-372e-0000-000000000000</value>
    </entry>
    <entry>
        <key>replacement-value-strategy</key>
        <value>literal-value</value>
    </entry>
    <entry>
        <key>/month</key>
        <value>${allMatchingAttributes("denormalized.month.[a-z]*"):join(",")}</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Denormalize - Concatenate Fields</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.UpdateRecord</type>
                        </processors>
                        <processors>
                            <id>b759f3bb-cd45-30d5-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>176.0</x>
<y>1192.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>concatenated</key>
        <value>
            <name>concatenated</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>concatenated</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set Attribute - Concatenated True</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>c6960aef-d161-3a53-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>176.0</x>
<y>688.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-stats-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-stats-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-stats-limit</key>
        <value>
            <name>record-stats-limit</name>
        </value>
    </entry>
    <entry>
        <key>month</key>
        <value>
            <name>month</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-stats-reader</key>
        <value>c7eafb36-ecca-39da-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-stats-limit</key>
        <value>10</value>
    </entry>
    <entry>
        <key>month</key>
        <value>/month</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Create Attributes for Month Values</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.CalculateRecordStats</type>
                        </processors>
                        <processors>
                            <id>cbc266aa-f124-3207-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>176.0</x>
<y>840.0</y>
                            </position>
                            <bundle>
<artifact>nifi-scripting-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Script Engine</key>
        <value>
            <name>Script Engine</name>
        </value>
    </entry>
    <entry>
        <key>Script File</key>
        <value>
            <name>Script File</name>
        </value>
    </entry>
    <entry>
        <key>Script Body</key>
        <value>
            <name>Script Body</name>
        </value>
    </entry>
    <entry>
        <key>Module Directory</key>
        <value>
            <name>Module Directory</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Script Engine</key>
        <value>Groovy</value>
    </entry>
    <entry>
        <key>Script File</key>
    </entry>
    <entry>
        <key>Script Body</key>
        <value>def flowFile = session.get()
if(!flowFile) return
def myAttrs = flowFile.getAttributes().keySet()

for(entry in flowFile.getAttributes().keySet()){
 if (entry.matches("recordStats.month.[a-z]*"))
    flowFile = session.putAttribute(flowFile, "denormalized.month." + entry.substring(18), entry.substring(18))
}

session.transfer(flowFile, REL_SUCCESS)</value>
    </entry>
    <entry>
        <key>Module Directory</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Create Value for Denormalized Month</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.script.ExecuteScript</type>
                        </processors>
                        <processors>
                            <id>ed2b9ac8-d6ca-3415-0000-000000000000</id>
                            <parentGroupId>406c78d9-7c8d-3719-0000-000000000000</parentGroupId>
                            <position>
<x>848.0</x>
<y>992.0</y>
                            </position>
                            <bundle>
<artifact>nifi-scripting-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Record Reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>Record Reader</name>
        </value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>Record Writer</name>
        </value>
    </entry>
    <entry>
        <key>Script Engine</key>
        <value>
            <name>Script Engine</name>
        </value>
    </entry>
    <entry>
        <key>Script Body</key>
        <value>
            <name>Script Body</name>
        </value>
    </entry>
    <entry>
        <key>Script File</key>
        <value>
            <name>Script File</name>
        </value>
    </entry>
    <entry>
        <key>Module Directory</key>
        <value>
            <name>Module Directory</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Record Reader</key>
        <value>c7eafb36-ecca-39da-0000-000000000000</value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>09d1b5b9-ef58-36be-0000-000000000000</value>
    </entry>
    <entry>
        <key>Script Engine</key>
        <value>Groovy</value>
    </entry>
    <entry>
        <key>Script Body</key>
        <value>import org.apache.nifi.serialization.record.RecordField;
import org.apache.nifi.serialization.record.RecordFieldType;

	String monthList = record.getAsString("month");
	String[] monthListArray = monthList.split(",")

	record.setValue("month", monthListArray[0])
	for(int i = 1; i &lt; monthListArray.length; i++) {
    	record.setValue(new RecordField("month" + i, RecordFieldType.STRING.getDataType()), monthListArray[i])
	}

return record</value>
    </entry>
    <entry>
        <key>Script File</key>
    </entry>
    <entry>
        <key>Module Directory</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Denormalize - Create New Fields</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.script.ScriptedTransformRecord</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Denormalize Record Content</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>e2fabaf3-a4a9-347b-0000-000000000000</id>
                    <parentGroupId>4f5faf61-8f54-3a68-0000-000000000000</parentGroupId>
                    <position>
                        <x>184.0</x>
                        <y>1328.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>076b31b6-72ee-3983-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>b6f6175c-efe6-3434-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>concatenated.true</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>5b06b858-811e-3be0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>0f613d72-804e-36ba-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>618c7689-778c-3769-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>b6f6175c-efe6-3434-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>25166d14-4aa6-3976-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>728.0</x>
<y>1656.0</y>
                            </bends>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>3cbd9d11-d01d-334a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>62cf30dd-60ba-3814-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2634619e-a712-39d0-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>182.23342895507812</x>
<y>2171.2841796875</y>
                            </bends>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>4aaded67-c222-3cef-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>merged</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>85899dbd-71d6-3dc8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2b86406a-58e8-33a2-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>490da26f-044d-3b79-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>46844cff-264c-3fb8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2dcbc3e9-7ebb-35a7-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>f01c998e-68e5-31c0-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>duplicate</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>3cbd9d11-d01d-334a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2eb874fa-a667-3af4-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>355cb327-1cfd-3522-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>original</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>46844cff-264c-3fb8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4b9503ec-5b7f-34a4-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>46844cff-264c-3fb8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>concatenated.false</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>5b06b858-811e-3be0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4cfd659e-4f04-3a6b-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>4faaa686-7a77-3f45-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>original</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>b6f6175c-efe6-3434-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>723c737d-1e67-3b24-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>2214c7e7-12b4-3777-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>62cf30dd-60ba-3814-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7a5c9ce4-8be4-3544-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>728.0</x>
<y>1792.0</y>
                            </bends>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>5672934b-e983-3fc5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>non-duplicate</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>3cbd9d11-d01d-334a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8c5b30e9-80cd-3477-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>7ee8beb8-61d3-307a-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>3cbd9d11-d01d-334a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9dda6a9a-cb9c-3eed-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>62cf30dd-60ba-3814-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>b6f6175c-efe6-3434-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a280352c-37e3-3b87-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>638.2334289550781</x>
<y>2171.2841796875</y>
                            </bends>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>4aaded67-c222-3cef-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>merged</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>c8ce0e04-03f7-3cc6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a32ce279-794f-3bbe-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>a80aaf84-f03d-30c6-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>5672934b-e983-3fc5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ae4740ec-abee-3a7b-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>5b06b858-811e-3be0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>55ba1fb9-7499-3adb-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>cb58c9b7-3d2d-3d09-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>14cfad28-861a-3451-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>85899dbd-71d6-3dc8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>cd19fd06-68f8-35ce-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>62cf30dd-60ba-3814-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>46844cff-264c-3fb8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>dc30e992-3a19-3223-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>52264482-59b9-3fbf-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>original</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>c8ce0e04-03f7-3cc6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e031a626-e32b-3426-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>f9b37f2a-cc2d-3d17-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>c8ce0e04-03f7-3cc6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e99f5a91-e7b9-3a0d-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>dfe7c86f-cf28-3ffc-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>original</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>85899dbd-71d6-3dc8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>edd2de56-95dd-340b-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>c8ce0e04-03f7-3cc6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>concatenated.false</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>5672934b-e983-3fc5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ef660d79-335b-3480-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>5315e924-77cc-33fa-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>5b06b858-811e-3be0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>fbc2ddce-cb4a-3d68-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>85899dbd-71d6-3dc8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>concatenated.true</selectedRelationships>
                            <source>
<groupId>e2fabaf3-a4a9-347b-0000-000000000000</groupId>
<id>5672934b-e983-3fc5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>53033b32-4c2b-345a-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <dependencies>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>Schema Write Strategy</propertyName>
        </dependencies>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>CSV Format</key>
    <value>
        <name>CSV Format</name>
    </value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Value Separator</name>
    </value>
</entry>
<entry>
    <key>Include Header Line</key>
    <value>
        <name>Include Header Line</name>
    </value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Quote Character</name>
    </value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Escape Character</name>
    </value>
</entry>
<entry>
    <key>Comment Marker</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Comment Marker</name>
    </value>
</entry>
<entry>
    <key>Null String</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Null String</name>
    </value>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Trim Fields</name>
    </value>
</entry>
<entry>
    <key>Quote Mode</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Quote Mode</name>
    </value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Record Separator</name>
    </value>
</entry>
<entry>
    <key>Include Trailing Delimiter</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Include Trailing Delimiter</name>
    </value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>
        <name>csvutils-character-set</name>
    </value>
</entry>
                            </descriptors>
                            <name>CSVRecordSetWriter - Remove Duplicates</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>inherit-record-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>CSV Format</key>
    <value>custom</value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>,</value>
</entry>
<entry>
    <key>Include Header Line</key>
    <value>true</value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>"</value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>\</value>
</entry>
<entry>
    <key>Comment Marker</key>
</entry>
<entry>
    <key>Null String</key>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>true</value>
</entry>
<entry>
    <key>Quote Mode</key>
    <value>MINIMAL</value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>\n</value>
</entry>
<entry>
    <key>Include Trailing Delimiter</key>
    <value>false</value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>UTF-8</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>78f24fbb-006a-3263-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>csv-reader-csv-parser</key>
    <value>
        <name>csv-reader-csv-parser</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>CSV Format</key>
    <value>
        <name>CSV Format</name>
    </value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Value Separator</name>
    </value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Record Separator</name>
    </value>
</entry>
<entry>
    <key>Skip Header Line</key>
    <value>
        <name>Skip Header Line</name>
    </value>
</entry>
<entry>
    <key>ignore-csv-header</key>
    <value>
        <name>ignore-csv-header</name>
    </value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Quote Character</name>
    </value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Escape Character</name>
    </value>
</entry>
<entry>
    <key>Comment Marker</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Comment Marker</name>
    </value>
</entry>
<entry>
    <key>Null String</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Null String</name>
    </value>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Trim Fields</name>
    </value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>
        <name>csvutils-character-set</name>
    </value>
</entry>
<entry>
    <key>csvutils-allow-duplicate-header-names</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>csvutils-allow-duplicate-header-names</name>
    </value>
</entry>
                            </descriptors>
                            <name>CSVReader - Remove Duplicates</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>infer-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>csv-reader-csv-parser</key>
    <value>commons-csv</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>CSV Format</key>
    <value>custom</value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>,</value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>\n</value>
</entry>
<entry>
    <key>Skip Header Line</key>
    <value>true</value>
</entry>
<entry>
    <key>ignore-csv-header</key>
    <value>false</value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>"</value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>\</value>
</entry>
<entry>
    <key>Comment Marker</key>
</entry>
<entry>
    <key>Null String</key>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>true</value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>UTF-8</value>
</entry>
<entry>
    <key>csvutils-allow-duplicate-header-names</key>
    <value>true</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.csv.CSVReader</type>
                        </controllerServices>
                        <funnels>
                            <id>14cfad28-861a-3451-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>-328.0</x>
<y>2016.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>2214c7e7-12b4-3777-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>-128.0</x>
<y>1552.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>355cb327-1cfd-3522-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>1024.0</x>
<y>1368.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>490da26f-044d-3b79-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>1024.0</x>
<y>1304.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>4faaa686-7a77-3f45-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>-360.0</x>
<y>1376.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>52264482-59b9-3fbf-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>1120.0</x>
<y>2088.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>5315e924-77cc-33fa-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>-112.0</x>
<y>1152.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>618c7689-778c-3769-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>-360.0</x>
<y>1312.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>7ee8beb8-61d3-307a-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>-128.0</x>
<y>1672.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>a80aaf84-f03d-30c6-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>-120.0</x>
<y>1856.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>dfe7c86f-cf28-3ffc-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>-328.0</x>
<y>2096.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>f01c998e-68e5-31c0-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>-128.0</x>
<y>1752.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>f9b37f2a-cc2d-3d17-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>1120.0</x>
<y>2016.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>55ba1fb9-7499-3adb-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>240.0</x>
<y>1008.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Handle Duplicates</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <labels>
                            <id>ca5ee336-bf96-3673-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>568.0</x>
<y>1704.0</y>
                            </position>
                            <height>32.0</height>
                            <label>For Demos, restart the caching service</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>18px</value>
</entry>
                            </style>
                            <width>344.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <outputPorts>
                            <id>4aaded67-c222-3cef-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>280.0</x>
<y>2224.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Duplicates Handled</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>3cbd9d11-d01d-334a-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>192.0</x>
<y>1656.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Cache Entry Identifier</key>
        <value>
            <name>Cache Entry Identifier</name>
        </value>
    </entry>
    <entry>
        <key>FlowFile Description</key>
        <value>
            <name>FlowFile Description</name>
        </value>
    </entry>
    <entry>
        <key>Age Off Duration</key>
        <value>
            <name>Age Off Duration</name>
        </value>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>Distributed Cache Service</name>
        </value>
    </entry>
    <entry>
        <key>Cache The Entry Identifier</key>
        <value>
            <name>Cache The Entry Identifier</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Cache Entry Identifier</key>
        <value>${hash.value}</value>
    </entry>
    <entry>
        <key>FlowFile Description</key>
        <value></value>
    </entry>
    <entry>
        <key>Age Off Duration</key>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
        <value>7c9f4d01-9314-3457-0000-000000000000</value>
    </entry>
    <entry>
        <key>Cache The Entry Identifier</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Detect Duplicate Records</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>duplicate</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>non-duplicate</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.DetectDuplicate</type>
                        </processors>
                        <processors>
                            <id>46844cff-264c-3fb8-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>424.0</x>
<y>1304.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Record Reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>Record Reader</name>
        </value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>Record Writer</name>
        </value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>
            <name>Records Per Split</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Record Reader</key>
        <value>78f24fbb-006a-3263-0000-000000000000</value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>53033b32-4c2b-345a-0000-000000000000</value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>1</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Split Concatenated into Records</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitRecord</type>
                        </processors>
                        <processors>
                            <id>5672934b-e983-3fc5-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>192.0</x>
<y>1808.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>concatenated.false</key>
        <value>
            <name>concatenated.false</name>
        </value>
    </entry>
    <entry>
        <key>concatenated.true</key>
        <value>
            <name>concatenated.true</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>concatenated.false</key>
        <value>${concatenated:equals('false')}</value>
    </entry>
    <entry>
        <key>concatenated.true</key>
        <value>${concatenated:equals('true')}</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Route on Denormalization Type</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>concatenated.false</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>concatenated.true</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>5b06b858-811e-3be0-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>184.0</x>
<y>1104.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>concatenated.false</key>
        <value>
            <name>concatenated.false</name>
        </value>
    </entry>
    <entry>
        <key>concatenated.true</key>
        <value>
            <name>concatenated.true</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>concatenated.false</key>
        <value>${concatenated:equals('false')}</value>
    </entry>
    <entry>
        <key>concatenated.true</key>
        <value>${concatenated:equals('true')}</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Route on Denormalization Type</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>concatenated.false</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>concatenated.true</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>62cf30dd-60ba-3814-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>192.0</x>
<y>1504.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hash Attribute Name</key>
        <value>
            <name>Hash Attribute Name</name>
        </value>
    </entry>
    <entry>
        <key>Hash Algorithm</key>
        <value>
            <name>Hash Algorithm</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hash Attribute Name</key>
        <value>hash.value</value>
    </entry>
    <entry>
        <key>Hash Algorithm</key>
        <value>MD5</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Hash to Prepare For Deduplication</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.HashContent</type>
                        </processors>
                        <processors>
                            <id>85899dbd-71d6-3dc8-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>8.0</x>
<y>2008.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>merge-strategy</key>
        <value>
            <name>merge-strategy</name>
        </value>
    </entry>
    <entry>
        <key>correlation-attribute-name</key>
        <value>
            <name>correlation-attribute-name</name>
        </value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>
            <name>Attribute Strategy</name>
        </value>
    </entry>
    <entry>
        <key>min-records</key>
        <value>
            <name>min-records</name>
        </value>
    </entry>
    <entry>
        <key>max-records</key>
        <value>
            <name>max-records</name>
        </value>
    </entry>
    <entry>
        <key>min-bin-size</key>
        <value>
            <name>min-bin-size</name>
        </value>
    </entry>
    <entry>
        <key>max-bin-size</key>
        <value>
            <name>max-bin-size</name>
        </value>
    </entry>
    <entry>
        <key>max-bin-age</key>
        <value>
            <name>max-bin-age</name>
        </value>
    </entry>
    <entry>
        <key>max.bin.count</key>
        <value>
            <name>max.bin.count</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>78f24fbb-006a-3263-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>53033b32-4c2b-345a-0000-000000000000</value>
    </entry>
    <entry>
        <key>merge-strategy</key>
        <value>Bin-Packing Algorithm</value>
    </entry>
    <entry>
        <key>correlation-attribute-name</key>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>Keep Only Common Attributes</value>
    </entry>
    <entry>
        <key>min-records</key>
        <value>1</value>
    </entry>
    <entry>
        <key>max-records</key>
        <value>1000</value>
    </entry>
    <entry>
        <key>min-bin-size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>max-bin-size</key>
    </entry>
    <entry>
        <key>max-bin-age</key>
    </entry>
    <entry>
        <key>max.bin.count</key>
        <value>10</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Merge Records w Concatenation</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>merged</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.MergeRecord</type>
                        </processors>
                        <processors>
                            <id>b6f6175c-efe6-3434-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>-40.0</x>
<y>1304.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Record Reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>Record Reader</name>
        </value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>Record Writer</name>
        </value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>
            <name>Records Per Split</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Record Reader</key>
        <value>78f24fbb-006a-3263-0000-000000000000</value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>53033b32-4c2b-345a-0000-000000000000</value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>1</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Split Concatenated into Records</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitRecord</type>
                        </processors>
                        <processors>
                            <id>c8ce0e04-03f7-3cc6-0000-000000000000</id>
                            <parentGroupId>e2fabaf3-a4a9-347b-0000-000000000000</parentGroupId>
                            <position>
<x>464.0</x>
<y>2008.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.3</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>merge-strategy</key>
        <value>
            <name>merge-strategy</name>
        </value>
    </entry>
    <entry>
        <key>correlation-attribute-name</key>
        <value>
            <name>correlation-attribute-name</name>
        </value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>
            <name>Attribute Strategy</name>
        </value>
    </entry>
    <entry>
        <key>min-records</key>
        <value>
            <name>min-records</name>
        </value>
    </entry>
    <entry>
        <key>max-records</key>
        <value>
            <name>max-records</name>
        </value>
    </entry>
    <entry>
        <key>min-bin-size</key>
        <value>
            <name>min-bin-size</name>
        </value>
    </entry>
    <entry>
        <key>max-bin-size</key>
        <value>
            <name>max-bin-size</name>
        </value>
    </entry>
    <entry>
        <key>max-bin-age</key>
        <value>
            <name>max-bin-age</name>
        </value>
    </entry>
    <entry>
        <key>max.bin.count</key>
        <value>
            <name>max.bin.count</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>78f24fbb-006a-3263-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>53033b32-4c2b-345a-0000-000000000000</value>
    </entry>
    <entry>
        <key>merge-strategy</key>
        <value>Bin-Packing Algorithm</value>
    </entry>
    <entry>
        <key>correlation-attribute-name</key>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>Keep Only Common Attributes</value>
    </entry>
    <entry>
        <key>min-records</key>
        <value>1</value>
    </entry>
    <entry>
        <key>max-records</key>
        <value>1000</value>
    </entry>
    <entry>
        <key>min-bin-size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>max-bin-size</key>
    </entry>
    <entry>
        <key>max-bin-age</key>
    </entry>
    <entry>
        <key>max.bin.count</key>
        <value>10</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Merge Records w New Fields</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>merged</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.MergeRecord</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Remove Duplicates</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>3320e0e0-68ac-3520-0000-000000000000</id>
                    <parentGroupId>4f5faf61-8f54-3a68-0000-000000000000</parentGroupId>
                    <position>
                        <x>200.0</x>
                        <y>968.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>/Users/bhagan/Downloads</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>denormalize.csv</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Get Data to Denormalize</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Denormalize</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>07/01/2022 10:53:57 EDT</timestamp>
</template>
